@inject IWeStorage _weStorage
@if (@GetClassVisible())
{
    <div class="@GetMenuItemClass()">
        <a href="@Item.Href" class="@GetRowFlexClass()" onclick="@(() => ClickedAsync())">
            <div class="col-90">
                <div class="full-height">
                    <span class="@GetClassIcon()">
                        @GetIcon()
                    </span>

                    <span class="center-text">@Item.Description</span>
                </div>
            </div>
            <div class="col-10">
                <div class="full-height">
                    <span class="@GetClassIcon()">
                        @GetRightIcon()
                    </span>
                </div>
            </div>
        </a>
    </div>
}