@typeparam TDataType
<div class="@GetClassColumns()">
    <label for="@GetId()" class="we-input-label">@GetLabel()</label>
    <input type="@TypeField" class="@GetClass()" placeholder="@Placeholder" id="@GetId()" @bind:get="Value" @bind:set="SetValueAsync" disabled="@GetDisabledAttribute()" autocomplete="@GetAutoComplete()" />
</div>